@page "/customerdamage"
@inject HttpClient Http
@using HKCRSystem.Blazor.Data.DTO
@inject ISnackbar Snackbar

<PageTitle>Request</PageTitle>

 <div class="container-fluid position-relative nav-bar p-0">
        <div class="position-relative" style="z-index: 9;">
            <nav class="navbar navbar-expand-lg navbar-dark py-3 py-lg-0 pl-3 pl-lg-5">
                <a href="" class="navbar-brand">
                    <h1 class="text-uppercase text-dark mb-1">Hamro Car Rental</h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                    <div class="navbar-nav ml-auto py-0">
                        <a href="/" class="nav-item nav-link active">Home</a>
                        <a href="login" class="nav-item nav-link">Login</a>
                        <a href="registration" class="nav-item nav-link">Register</a>
                        <a href="customerrequest" class="nav-item nav-link">Requests</a>
                        <a href="customerdamage" class="nav-item nav-link">Damages</a>
                     </div>
                      
                    </div>
            </nav>
                </div>
            
        </div>
<MudContainer Class="mt-4 position-relative">
    <div class="d-flex justify-content-end mb-2">
    </div>
    <MudTable FixedHeader="true" FixedFooter="true" Height="450px" Items="@damagesDatas" Hover="true" Striped="false">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Damages</MudText>
        </ToolBarContent>
        <HeaderContent>
            <MudTh><MudTableSortLabel SortBy="new Func<DamageDTO, object>(DamageDTO => DamageDTO.DamagedCar)">Damaged Car</MudTableSortLabel></MudTh>
            <MudTh>Description</MudTh>
            <MudTh>Damage Date</MudTh>
            <MudTh>Reported Date</MudTh>
            <MudTh>Reviewed By</MudTh>
            <MudTh>Price</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="DamagedCar">@context.DamagedCar</MudTd>
            <MudTd DataLabel="Description">@context.Description</MudTd>
            <MudTd DataLabel="DamageDate">@context.DamageDate</MudTd>
            <MudTd DataLabel="ReportedDate">@context.ReportedDate</MudTd>
            <MudTd DataLabel="ReviewedBy">@context.ReviewedBy</MudTd>
            <MudTd DataLabel="Price">@context.Price</MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>
</MudContainer>






@code {
    // Global State of the Application

    private List<DamageDTO>? damagesDatas;
    //private bool FilterHandler(InventoryItem item) => SearchFilter(item, toSearch);
    protected override async Task OnInitializedAsync()
    {
        damagesDatas = new List<DamageDTO>
        {
            new DamageDTO
            {
                Id = Guid.NewGuid(),
                Description= "kk",
                DamageDate = DateTime.Now,
                RequestedBy = "ram",
                ReportedDate = DateTime.Now,
                DamagedCar = "bmw",
                ReviewedBy = "shyam",
                Price = 10.0f,
            }
        };
    }

}